/gene_coexpression_75q.Rmd			  
/gene_coexpression.Rmd	  
/differential_gene_expression.Rmd
/edgelist.tsv
/gene_modules.txt
/ER-block.1.RData
/lab11_adapt.Rmd
/ER-block.2.RData
/matches.txt
/ER-block.3.RData
/fc_minimal.csv
/data/Araport11_GFF3_genes_transposons.Jul2022.gff


